<form action="http://bethandjustin2013.us5.list-manage2.com/subscribe/post?u=5b13c6d3e07945f005c15ae40&amp;id=59c84f9c24" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
  <label for="mce-EMAIL">More information to follow.<br />Subscribe for updates.</label><br />
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
