.main-image
  = image_tag 'main_image.jpg'

.seperator.section-shading
  .section-content
    .info.left
      .head-shot
        = image_tag 'beth.jpg'
      h3 Beth
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque, leo vitae gravida tincidunt, dui nunc placerat enim, lacinia scelerisque odio augue et arcu. Aliquam pellentesque, diam nec.
    .info.right
      .head-shot
        = image_tag 'justin.jpg'
      h3 Justin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc scelerisque, leo vitae gravida tincidunt, dui nunc placerat enim, lacinia scelerisque odio augue et arcu. Aliquam pellentesque, diam nec.

h3 Our Story

p In May of 2009, Beth and Justin met at a sushi restaurant in Center City,
  Philadelphia, although they started talking previously after meeting through
  Match.com (not a paid advertisement) with the mutual love of winter sports.
  Beth was bold and ate sashimi off Justin’s plate, but her favorite part of the
  evening was when they sat at Starbuck’s and chatted for a few hours. Those of
  you that remember your first time meeting Justin, know that he is usually a
  man of few words upon a first meeting, but something was different about this
  one. Justin knew that there was something special about Beth and shared enough
  so that Beth felt the same way about him.

quote Fourth of July Rock Band pic?

p The next few months were filled with birthdays, holidays, and meeting friends
  and family. Beth and Justin both tried to spend as much time as possible
  getting to know each other, despite Beth finishing graduate school and Justin
  living out in Haverford then Ardmore. They went on a first vacation to Cape
  May together, although the winds were so high that they spent time along the
  boardwalk and at the movies and didn’t even set foot on the beach. Neither of
  them could wait until winter came and they could enjoy skiing and snowboarding
  together - which started out with a trip to Utah, then Vermont, and then
  Colorado with Poconos visits scattered in between.

quote Colorado Pic?

p Both Justin and Beth agree that they’ve always sort of known that they were
  meant to be together, but they never wanted to rush it. Even through all of
  the ups and downs of each other’s lives, they have always grown stronger
  together, and the 10 weeks that Beth spent in Pittsburgh made them truly
  realize that they didn’t ever want to be apart.

quote Pittsburgh - Falling Water pic?

p Justin proposed on Christmas Eve 2011. They had been joking about it off and
  on and Beth thought that Justin had stopped to tie his shoe, until she saw the
  beautiful ring he had in his hand. After some laughing, smiling, and a few
  tears of Joy, the two of them decided they would enjoy being engaged for a
  little while before starting the plan the wedding. While a good thought,
  within 2-3 days of being engaged, they already knew the theme/color scheme of
  their wedding, and within the next few months, most of it was planned.

quote Engagement photo ring pic

p We truly enjoyed dating, love being engaged, and are truly ecstatic to be
  husband and wife. We want to take a chance to say thank you to all of our
  friends and family for supporting us through these past few years, and we’re
  very excited to celebrate with all of you!

quote Mushy engagement pic
