nav
  border-bottom: 20px solid $blue
  height: 200px

.menu
  ul
    text-align: right
    li
      +inline-block

.menu-button
  display: none

.content-wrap
  margin-top: -140px
  +rounded-corners
  +box-shadow(0px 0px 10px -2px black)

.person
  width: flex-grid(6)
  &.left
    float: left
  &.right
    float: right
    .title
      float: left
    .name
      float: right

.registries
  a
    +inline-block