.menu
  ul
    margin-top: 0

.person
  width: flex-grid(6)
  &.left
    float: left
  &.right
    float: right
    .title
      float: left
    .name
      float: right

.registries
  a
    +inline-block