@import bourbon
@import reset
@import url(http://fonts.googleapis.com/css?family=Alex+Brush)

$brown: #3d2c24
$blue:  #00539f
$cream: #fffaf0
$white: #fafaff
$gray:  #888

$background: $cream
$nav-background: $brown
$wrapper: $white
$text: $brown
$text-highlight: $blue
$nav-color: $white
$header-color: $blue

$background-light: lighten($background, 15)
$background-dark: darken($background, 15)
$text-light: lighten($text, 30)

$fg-column: 60px
$fg-gutter: 40px
$fg-max-columns: 12

$script: 'Alex Brush', cursive

@mixin shadow
  @include box-shadow(0px 3px 3px 0px black)

@mixin rounded-corners
  @include border-radius(8px)

body
  background: $background
  color: $text
  font: 16px "Futura", "Arial", sans-serif
  // padding: flex-gutter()

.container
  margin: 0 auto
  max-width: 1140px
  width: flex-grid(12)

nav
  background: $nav-background

.menu
  font-size: 1.25em
  ul
    padding: 0.5em 0
    margin-top: -145px
    -webkit-transition: margin 1s
    &.expanded
      margin-top: 0
    li
  a
    color: $nav-color
    text-decoration: none

.menu-button
  float: right
  margin-right: 5%
  a
    display: block
    background: $nav-background
    width: 80px
    padding: 0px 10px 4px
    text-align: center
    +border-radius(0 0 8px 8px)

.content-wrap
  background: $wrapper
  padding: 40px 0 0

.date
  font-size: 2em
  text-align: center

h1, h2, h3, h4
  font-family: $script
  padding: 0.5em flex-gutter()
  color: $header-color

h1
  font-size: 2em
  @media all and (min-width: 768px)
    font-size: 3em
    text-align: left

h2
  font-size: 1.5em

p
  padding: 0 flex-gutter() 2em
  text-indent: 2em

.content
  margin: 0 auto
  min-height: 400px
  width: 100%

.registries
  text-align: center
  a
    display: block
    margin: 0 flex-gutter() 2em
    img
      border: 5px solid $background
    @media all and (min-width: 768px)
      +inline-block

.read-more
  text-align: right

.row
  +clearfix

.party
  .person
    +clearfix
    text-align: center
    img
      width: 100%
    .name
      float: left
    .name, .title
      font-size: 2em
      margin-bottom: .5em
      padding: 0 flex-gutter()
    .title
      color: $text-light
      float: right
    p
      clear: both
      display: block
      font-family: $helvetica
      padding: 0 flex-gutter()
      margin: 1em 0 2em
      text-align: left
    @media all and (min-width: 768px)
      &.left
        float: left
      &.right
        float: right
        .title
          float: left
        .name
          float: right
      width: flex-grid(6)

