@import bourbon
@import reset

html
  background: image-url("bg.jpg") no-repeat right center fixed
  background-size: cover

#strip
  background: #fffaf0
  font: 36px "Futura", sans-serif
  position: absolute
  color: #3d2c24

@media (min-width:641px)
  #strip
    display: table
    height: 100%
    left: 20%
    padding: 0 1em
    p
      display: table-cell
      vertical-align: middle

@media (max-width:640px)
  #strip
    text-align: center
    width: 100%
